$white: hsl(255, 255%, 255%);
$gray--light: hsl(212, 45%, 89%);
$blue--grayish: hsl(220, 15%, 55%);
$blue--dark: hsl(218, 44%, 22%);
$blue--light: hsl(216, 95%, 58%);
$blue--light-hover: hsl(216, 100%, 61%);